/*
Z-indexes:
20000: menus
20000: overlay
30000: dialogues
40000: tooltip
*/
.overlay
{
  z-index          : 20000;
  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;

  background-color : rgba(99, 101, 103, 0.51);
}

.mainMenu
{
  z-index          : 20000;
  position         : fixed;
  top              : 0;
  left             : 0;

  border-bottom    : 2px solid black;
  background-color : lightslategray;
  padding          : 5px;

  width            : 100%;
}

.mainMenuItem
{
  cursor           : pointer;
  display          : inline;
  color            : white;

  border-left      : 2px solid red;
  background-color : darkred;
  padding          : 5px;

  width            : 100px;
}

.mainMenuItem:hover
{
  background-color : indianred;
}

.mainMenuItem:active
{
  background-color : darkred;
}

.menu
{
  z-index                 : 30000;
  position                : fixed;
  top                     : 50%;
  left                    : -20000px;

  padding                 : 10px;
  border                  : 1px solid gray;
  border-radius           : 15px;
  border-top-right-radius : 0;
  background-color        : whitesmoke;
  box-shadow              : 5px 5px rgba(0, 0, 0, .25);

  transition-property     : left;
  transition-duration     : .15s;
}

.menuTitle
{
  font-size     : 18pt;
  text-align    : center;
  margin-bottom : 15px;
}

.menuModule
{
  display       : inline-block;
  margin-bottom : 15px;
  width         : 98%;
}

.menuButton
{
  border        : 1px solid black;
  border-radius : 5px;
  padding       : 5px;
  cursor        : pointer;
  text-align    : center;
  display       : inline-block;
}

.menuButton:hover
{
  background-color : lightblue;
}

.menuButton:active
{
  background-color : aqua;
}

.menuButton#newLine
{
  display : block;
}

.buttonBack
{
  background-image : url('buttons/modern-back-single.png');
  height           : 20px;
  width            : 20px;

  position         : absolute;
  top              : 5px;
  left             : 5px;

  cursor           : pointer;
}

.buttonClose
{
  background-image : url('buttons/exitButton.png');
  height           : 20px;
  width            : 40px;

  position         : absolute;
  top              : 0;
  right            : 0;

  cursor           : pointer;
}

.buttonClose:hover
{
  background-image : url('buttons/exitButtonActive.png');
}

.buttonClose:active
{
  background-image : url('buttons/exitButton.png');
}

.programWidget
{
  background-size     : cover;
  position            : absolute;

  transition-property : top, left, width, height;
  transition-duration : 1s, 1s, 1s, 1s;
}

.debugInfoBox
{
  position : fixed;
  bottom   : 0;
  left     : 0;
}

.messageBox
{
  z-index                   : 20000;
  position                  : fixed;
  top                       : 32px;
  right                     : 0;
  width                     : 350px;

  padding-top               : 10px;
  padding-bottom            : 15px;
  border-bottom-left-radius : 20px;

  background-color          : rgba(200, 0, 0, .25);
}

.message
{
  background-color    : rgba(255, 255, 255, .75);
  padding-left        : 5px;

  transition-property : height;
  transition-duration : 1s;
}

.message:nth-child(2n)
{
  background-color : rgba(255, 255, 255, .25);
}

.widgetContainer
{
  position : absolute;
  width    : 0;
  height   : 0;
  overflow : visible;
}

.widgetColumn
{
  width    : 190px;
  position : absolute;
}

.widgetTooltip
{
  z-index          : 40000;
  position         : absolute;
  background-color : rgba(34, 0, 22, 0.9);
  border-radius    : 5px;
  padding          : 10px;
  color            : white;
  font-weight      : bold;
  font-size        : 16pt;
}

.paragraph
{
  margin-top : 15px;
}

.contextMenu
{
  z-index    : 40000;
  position   : absolute;

  width      : 200px;
  box-shadow : 5px 5px rgba(0, 0, 0, 0.25);
}

.contextMenuItem
{
  cursor           : pointer;
  color            : white;

  border-left      : 2px solid red;
  background-color : darkred;
  padding          : 5px;
}

.contextMenuItem:hover
{
  background-color : indianred;
}

.contextMenuItem:active
{
  background-color : darkred;
}

.focusIndicator
{
  z-index                    : 20000;
  width                      : 30px;
  height                     : 30px;

  margin-left                : -15px;
  margin-top                 : -15px;

  position                   : absolute;

  top                        : 50%;
  left                       : 50%;

  background-color           : red;
  border-radius              : 10px;

  transition-property        : background-color, visibility;
  transition-duration        : 2s, 2s;
  transition-timing-function : ease, step-end;
}

svg
{
  overflow : visible;
}

.lineConnection
{
  z-index      : 30000;
  position     : relative;
  stroke       : black;
  stroke-width : 2px;
}